body {
  background: #4A4A4A;
}

.alert {
  background-color: #FFE2DF;
  font-color: #C00007;
}

.notice {
  background-color: #D9F2BC;
  font-color: #008000;
}

.push-right {
  float: right;
}

.center-text {
  text-align: center;
}

a:hover {
	text-decoration: underline;
}
