@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #EAEAEA;
  padding-top: 60px;
}

.container {
  padding-top: 10px;
}

header {
  background-color: #01062B !important;

  #logo {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    height: 51px;
    width: 138px;
  }
}

.alert {
  background-color: #FFE2DF;
  font-color: #C00007;
}

.notice {
  background-color: #D9F2BC;
  font-color: #008000;
}

.center-text {
  text-align: center;
}

.push-right {
  float: right;
}

.push-left {
  float: left;
}

a:hover {
	text-decoration: none;
}

a {
  text-decoration: none;
}

.not-member, .member {
  font-size: small;
  text-align: center;
  color: #3B5998;
}

.clear {
  clear: both;
}


/* footer */

footer {
  bottom: 0;
  color: #E6E6E6;
  font-size: 13px;
  height: 200px;
  padding-top: 5px;
  position: absolute;
  width: 90%;

  .shadow-top {
    background-image: url("footerShadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    border-top: 1px solid #fff;
    height: 14px;
    margin-top: 50px;

  }

  a {
    color: #c5c5c5;
  }

  a:hover {
    color: #f1422d;
  }

  ul {
    float: right;
    list-style: none;
  }

  li {
    float: left;
    margin-left: 15px;
  }
}
