@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #E8E8E7;
  padding-top: 60px;
}

header {
  
    background-color: #01062B !important;
 
}

.alert {
  background-color: #FFE2DF;
  font-color: #C00007;
}

.notice {
  background-color: #D9F2BC;
  font-color: #008000;
}

.center-text {
  text-align: center;
}

a:hover {
	text-decoration: underline;
}

a {
  text-decoration: none;
}

.not-member, .member {
  font-size: small;
  text-align: center;
  color: #3B5998;
}

.clear {
  clear: both;     
}