@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/*.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}

.clearfix:after { clear: both; }
*/

div#login a, div#registration a {
  color: #3B5998;
  text-decoration: none;
}

div#login, div#registration {
  width: 280px;
  margin: 65px auto;

  fieldset {
    border-color: #0000CC;
  }

  span.header {
    padding-left: 112px;
    color: #44619D;
    font-weight: bold;
    text-transform: uppercase;
  }

  form {
    span {
      text-align: center;
      float: left;
      border-radius: 3px 0 0 3px;
      text-align: center;
      height: 40px;
      line-height: 45px;
      background-color: #72CEF9;
      width: 40px;
    }

    .field {
      color: #4174CA;
      font-size: small;
    }

    input[type="submit"] {
      border: medium none;
      font-weight: bold;
      height: 40px;
      text-transform: uppercase;
      width: 268px;
    }

    input[type="email"], input[type="password"] {
      width: 230px;
      height: 40px;
    }
  }  
}
